body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
}

#resultadoPesquisa {
    margin-top: 20px;
}